<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="me.chan.texas.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.chan.texas.ParagraphMeasureBenchmarkActivity"
            android:exported="false" />
        <activity
            android:name="me.chan.texas.MathSymbolBenchmarkActivity"
            android:exported="false" />
        <activity
            android:name="me.chan.texas.MathDemoActivity"
            android:exported="false" />
        <activity
            android:name="me.chan.texas.BenchmarkActivity"
            android:exported="false" />
        <activity
            android:name="me.chan.texas.ParagraphViewDemoActivity"
            android:exported="false" />
        <activity
            android:name="me.chan.texas.SingleParagraphActivity"
            android:exported="false" />
        <activity
            android:name="me.chan.texas.SingleParagraphWithHeightActivity"
            android:exported="false" />
        <activity android:name="me.chan.texas.TexasViewDemoActivity" />
        <activity
            android:name="me.chan.texas.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>